html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    font-family: 'Audiowide';
    color:black;
    display: table-cell;
    vertical-align: middle;
    background-color: lightblue;
}